.fixture__card {
    background: rgb(60, 39, 71);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px;
    margin-top: 15px;
    cursor: pointer;
}

.fixture__card--details {
    position: absolute;
    background: rgb(60, 39, 71);
    border-radius: 10px;
    padding: 15px;
    top: 70%;
    right: 550px;
}

.card__title {
    font-size: 1.2rem;
}

.fixture__form {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}