.team__page {
    width: 40%;
    margin: 0 auto;
    padding-top: 50px;
}

.team__page-heading {
    display: flex;
    align-items: center;
}

.team__title {
    font-size: 1.8rem;
    margin: 0;
}

.team__subtitle {
    font-size: 1.4rem;
    margin-top: 20px;
}

.team__image {
    margin-right: 40px;
}

.team__buttons {
    margin-top: 40px;
    display: flex;
    width: 40%;
    justify-content: space-around;
}